name: PyTest

on:
  push:

env:
  COLUMNS: 120

jobs:
  pytest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: ["3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "${{ matrix.python_version }}"

      - name: Install Dependencies
        run: make install

      - name: Run Tests
        run: make pytest
